
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f3ed; 
    color: #333;
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}


.hero-banner {
   background: linear-gradient(279.74deg, #D5451B 6.22%, #521C0D 100.35%);
    padding: 30px 0px;
    border-radius: 0 0 20px 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.character-image {
    display: block;
    width: 100%;
    height: auto;
}

.main-content {
    padding: 40px 60px; 
}

.info-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.character-name {
    font-size: 38px;
    font-weight: bold;
    color: #d5534c; 
    flex: 0 0 30%; 
    margin-right: 20px;
}

.description {
    font-size: 18px;
    flex: 1; 
    max-width: 600px;
}

.divider {
    height: 1px;
    background-color: #ddd;
    margin: 40px 0;
}


.content-toc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 50px; 
}

.content-toc-inner {
    display: flex;
    width: 100%; 
    max-width: 700px; 
}

.toc-left {
    flex: 0 0 auto; /* Не стискається і не росте */
    margin-right: 40px; 
    text-align: left;
}

.toc-title {
    font-size: 20px;
    font-weight: bold;
    color: #666; 
}

.toc-right {
    flex: 1; 
    max-width: 300px;
    margin: 0 auto
}

.toc-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc-item {
    display: flex;
    justify-content: space-between; 
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f0f0f0; 
    padding-bottom: 5px;
}

.toc-number {
    color: #666;
    margin-right: 20px;
    font-family: monospace; 
}

.toc-text {
    font-weight: bold;
    text-transform: uppercase;
    flex-grow: 1;
    text-align: right;
}
.history-section {
    padding: 20px 0;
}

.history-title {
    font-size: 38px;
    font-weight: bold;
    color: #333; 
    margin-bottom: 40px;
}

.split-section {
    max-width: 1200px;  
    padding: 0 60px;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
}

.history-title-main {
    font-size: 38px;
    font-weight: bold;
    color: #333;
}

.history-title-main span{
    color: rgb(255, 180, 69);
}
.split-right {
    width: 48%;
}
.split-left {
    width: 48%;
}

.gradient-box {
    padding: 25px;
    background: linear-gradient(135deg, #FF9B45 0%, #D5451B 100%); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}    

.gradient-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.gradient-paragraph {
    font-size: 20px;
    margin-bottom: 20px;
}

.gradient-image {
    width: 100%;
    height: auto;
    display: block;
}


.quests, .voice, .merch{
  padding: 15px;
  background-color: #ffffff;
  color: #111;
}

.quests__container, .voice__container, .merch__container {
  margin: 0 auto;
}


.quests__header, .voice__header , .merch__header{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: flex-start;
  margin-bottom: 40px;
}

.quests__title-wrap, .voice__title-wrap, .merch__title-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quests__index, .voice__index, .merch__index {
  font-size: 32px;
  font-weight: 700;
  color: #ff6d00; 
}

.quests__title, .voice__title, .merch__title {
  font-size: 32px;
  font-weight: 600;
}

.quests__subtitle, .voice__subtitle {
  font-size: 20px;
  line-height: 1.5;
  width: 500px;
}

.quests__image {
  margin-bottom: 40px;
}

.quests__image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
}


.quests__block {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.quests__block-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.quests__list {
  margin: 0;
  padding-left: 20px;
  font-size: 20px;
  line-height: 1.6;
}

.quests__legends-grid{
    display: flex;
    
}
.quests__legend-col{
    width: 250px;
}






.catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #ffffff;
}



.product-card {
  width: 320px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", system-ui, sans-serif;
  text-align: center;
}

.product-card__image-wrap {
  background-color: #ffe0c2;      
}

.product-card__image {
  width: 100%;
  display: block;
}


.product-card__body {
  padding: 18px 18px 22px;
  
}


.product-card__category {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.product-card__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 14px;
}


.product-card__rating-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  margin-bottom: 14px;
}

.product-card__star {
  color: #ffc107;
  font-size: 16px;
}

.product-card__rating-value {
  font-weight: 600;
}

.product-card__separator {
  color: #aaa;
}

.product-card__reviews-count {
  font-weight: 500;
}

.product-card__reviews-label {
  color: #b3b3b3;
}

.product-card__prices {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 18px;
  align-items: center;
}

.product-card__old-price {
  font-size: 14px;
  color: #b3b3b3;
  text-decoration: line-through;
}

.product-card__new-price {
  font-size: 18px;
  font-weight: 700;
  color: #ff3f31; 
}

.product-card__btn {
    text-align: center;
  width: 70%;
  max-width: 220px;
  padding: 10px 0;
  border-radius: 999px;
  border: none;
  background-color: #16b643;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.product-card__btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

